{{ partial "header.html" . }}

<h1 class="index-title">Welcome to my blog 👋</h1>

<p class="index-presentation">Here I share content about <span style="color:#FF206E;font-weight: bold;">Infosec and Computer Science</span></p>

<div class="index-blog-description">
    <h3>This blog is divided into three <span style="font-weight: bold; color: #9D65FF;">sections: </span></h3>
    <ul>
        <li><a href="/writeups" class="section-title-link"><span>Writeups</span></a> of vulnerable machines from different platforms</li>
        <li>Blue team <a href="/labs" class="section-title-link" ><span >labs</span></a> from different platforms</li>
        <li>General-purpose <a href="/posts" class="section-title-link"><span>posts</span></a></li>
    </ul>
</div>



<div class="index-content">
    {{ .Content }}
</div>


{{ partial "footer.html" . }}
