{{ partial "header.html" . }}

<h1 class="index-title">Bienvenido 👋</h1>

<p class="index-presentation">Este es mi blog en el que comparto contenido en español sobre <span style="color:#FF206E;font-weight: bold;">Seguridad informática</span></p>

<div class="index-blog-description">
    <h3>Este blog se compone de tres <span style="font-weight: bold; color: darkviolet;">secciones: </span></h3>
    <ul>
        <li><a class="section-title-link" href="/writeups"><span>Writeups</span></a> de máquinas vulnerables</li>
        <li>Blue team <a class="section-title-link" href="/labs"><span>labs</span></a> de diferentes plataformas</li>
        <li><a class="section-title-link" href="/posts"><span>Posts</span></a> de propósito general</li>
    </ul>
</div>


<div class="index-content">
    {{ .Content }}
</div>


{{ partial "footer.html" . }}
